/*20150303--用于index.html的css*/

.my-left-botton{ 
	padding: 10px;
	background-color: lightskyblue ;
	margin: 20px;
}
.my-left-botton:hover{ 
	background-color: sandybrown !important; /*鼠标悬停 important代表相同调件下优先级最高*/
}
.my-left-pan{ 
	height: 600px;
	margin-top: 10px;
	background-color:rgb(230,230,230);
}
.my-test-inline{ 
	display:inline-block;
	vertical-align:middle;
}

.my-right-pan{ 
	height: 600px;
	width: 94%;
	background-color:wheat ;
	margin-left: 20px;
	margin-top: 10px;
	padding: 1px;
}