<!doctype html>
<!--一些小示例-->
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/frame/bootstrap/css/bootstrap.css">
	</head>
	<body>
		<div class="container-fluid">
			<div class="text-center">
				<h1>一些小示范</h1>
				<hr>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="list-group">
					<!--组件列表-->
						<a href="ctrlCommunicate/ctrlCommunicate.html" class="list-group-item active">angular控制器之间的通信</a>
						<a href="angular-slider/angularSlider.html" class="list-group-item ">angular滑块(用别人的不建议)</a>
						<a href="dragDiv/drag.html" class="list-group-item ">angular拖动,用指令</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>