<!doctype html>
<!--一些小示例-->
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/frame/bootstrap/css/bootstrap.css">
	</head>
	<body>
		<div class="container-fluid">
			<div class="text-center">
				<h1>一些小示范</h1>
				<hr>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="list-group">
					<!--组件列表-->
						<a href="scollToPoint/a.html" class="list-group-item active">页内（外）滚动到指定地方</a>
						<a href="ReactiveFont/test.html" class="list-group-item">用vm来实现响应式字体根据屏幕大小</a>
						<a href="divScoll/test.html" class="list-group-item">div内滚动条</a>
						<a href="hideShowSideBar/test1.html" class="list-group-item">用原生js显示隐藏侧边栏</a>
						<a href="arrowDiv/test.html" class="list-group-item">用css做的带小箭头的div</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>