.my-root-pan{ 
	margin-top: 10px;
}
.my-left-pan{ 
	background-color:rgb(230,230,230);
	height: 600px;
}
.my-right-pan{ 
	background-color:rgb(200,230,230);
	height: 600px;
}
.my-rightTop-pan{ 
	background-color:rgb(23,230,230);
	height: 350px;
}
.my-rightBottom-pan{ 
	background-color:rgb(220,230,230);
	height: 200px;
}