body {
	background-color:   #ff5442;
  font-family:        ‘Lato’, Arial, sans-serif; 
  margin:             2vw;
  
}

h1 {
	color:              #fff;
	font-size:          6vw;
	font-weight:        900;
	text-transform:     uppercase;
  line-height:        .3vw;
	}

h2 {
  color:              #fff;
  font-size:          4vw;
}

p {
  color:              #fff;
  font-size:          1em;
}